[Unit]
Description=NetBox WSGI Service
Documentation=https://netbox.readthedocs.io/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User={{ netbox_user }}
Group={{ netbox_user }}
PIDFile=/var/tmp/netbox.pid
WorkingDirectory={{ netbox_base_dir }}/current

ExecStart={{ netbox_base_dir }}/venv/bin/gunicorn --pid /var/tmp/netbox.pid --pythonpath {{ netbox_base_dir }}/current/netbox --config {{ netbox_base_dir }}/current/gunicorn.py netbox.wsgi

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target